@CHARSET "UTF-8";
.buton{
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-weight: bold;
	margin-right: 2px;
	border: solid 5px #000;
	background-color: #bbb;
	border-width: 0 4px 5px 0;
	border-radius: 5px;
	border-color: transparent #ddd gray transparent;
	background-clip:padding-box;
}

.buton:hover{
  border-width:0 2px 3px 0; 
  margin-right:4px;
  position:relative;
  left:2px;
  top:3px;
}